#field {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;

}

.cell {
    border: 1px solid black;
    text-align: center;
    font-size: xxx-large;
    width: 100px;
    height: 100px;
}
h1 {
    font-size: xxx-large;
    font-family: Impact;
    text-align: center;
}
body {
    background-color: lightskyblue;
}
table {
    vertical-align: center;
}

h2 {
    font-size: xx-large;
    font-family: Impact;
    text-align: center;
}